@import url(./normalize.css);
@import url(./reset.css);
/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 링크 스타일 */
a {
  color: inherit; /* 상속받은 */
  text-decoration: none;
}
/* 본문 스타일 */
body {
  color: #212121;
  background: #ccc;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-weight: 400;
}
/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px; /* 라운딩처리 */
  position: relative; /* 헤더기준으로 로고가 움직여야되기 때문에 헤더 relative, absolute면 통채로 움직여버림*/
}
/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
}
/* 텍스트 링크 모음 */
.member {
  background-color: aqua;
  text-align: right;
  padding: 4px 0;
  /* font-size: 0; */
}
.member li {
  /* li가 member안에 포함되어있을 때,li안에만 선택할거니까 범위 제한 */
  /* background-color: pink; */
  display: inline-block; /* 넌 태어났을 때 block이지만 inline으로 바뀔거야 */
  /* font-size: 16px; 공백문자를 사라지게하고(member에서 상속) 직접적인 li는 16px */
}
.member a {
  /* member에 들어있는 a */
  background-color: coral;
  padding: 6px 10px; /* 클릭할 수 있는 영역 늘리기 */
  display: inherit; /* 부모가 가진 속성 상속할거야 */
  text-transform: uppercase; /* 대문자로 바꿔줌 */
}
/* 마지막 li 요소에 포함된 a요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
.member li:last-child a {
  padding-right: 0;
}
.divider {
  margin-right: 4px;
}
/* 비주얼 */
.visual {
  background: orange;
  height: 10vh;
}
/* 메인 */
.main {
  background: lightgreen;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
  /* overflow: hidden; */
}
/* .main::after {
  content: '';
  clear: both;
  display: block;
} */
.group {
  margin: 0 15px;
  float: left;
}
.group1 {
  background: violet;
  width: 250px;
}
.group2 {
  background: salmon;
  width: 380px;
}
.group3 {
  background: gold;
  width: 190px;
}
/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  /* clear: both; */
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner {
  background: silver;
  height: 15vh;
}
